{{!-- Шаблон для виведення на дисплей повідомлення щодо помилки --}}
<article class="message-article">
    <h4 class="message-title">ЗВЕРНІТЬ УВАГУ!!!</h4>
    <p class="message-text">{{messageText}}</p>
</article>